VITE_API_URL=https://your-render-backend.onrender.com/api
VITE_FRONTEND_URL=https://your-vercel-frontend.vercel.app
VITE_NETWORK=preprod
VITE_ANONPAY_CONTRACT_ADDRESS=3da1d5acee80df7d796747a1c9e14aa9b384b77c15a3e11e2802a8cc65f84bf1
VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key
